body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #fff5f7;
}

.top-header {
    background: #ff8fb1;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

.center-area {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card, .quiz-big {
    background: #ffe4ec;
    padding: 40px;
    border-radius: 20px;
    width: 95%;
    max-width: 900px;
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
    text-align: center;
}

.quiz-top {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 30px;
}

.options-big {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 40px;
}

.option-big {
    padding: 30px;
    background: white;
    border-radius: 18px;
    font-size: 20px;
    cursor: pointer;
    transition: .25s;
}

.option-big:hover {
    transform: scale(1.03);
}

.green { background: #b6f2c2; }
.orange { background: #ffd8a8; }
.blue { background: #cfe4ff; }
.red { background: #ffc1c1; }

.final-score {
    font-size: 96px;
    font-weight: bold;
    margin-top: 30px;
    color: #ff5f9e;
}

button {
    padding: 14px 26px;
    background: #ff5f9e;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.checkbox {
    display: block;
    margin: 20px 0;
}

.hidden {
    display: none;
}
